In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import  r2_score
import pickle

In [2]:
df = pd.read_csv('Uber_Processed_data.csv')

In [3]:
df.head(10)

,Unnamed: 0,fare_amount,passenger_count,year,month,day,day_is_weekend,quarter,hour,mins,distance_travelled
0,0,7.50,1,2015,5,7,0,2,19,52,1.683323
1,1,7.70,1,2009,7,17,0,3,20,4,2.457590
2,2,12.90,1,2009,8,24,0,3,21,45,5.036377
3,3,5.30,3,2009,6,26,0,2,8,22,1.661683
4,4,16.00,3,2014,8,28,0,3,17,47,4.475450
5,5,4.90,1,2011,2,12,1,1,2,27,0.000000
6,6,22.25,3,2014,10,12,1,4,7,4,7.865091
7,7,2.50,1,2012,12,11,0,4,13,52,0.000000
8,8,9.70,1,2012,2,17,0,1,9,32,2.332711
9,9,12.50,1,2012,3,29,0,1,19,6,4.889417

In [4]:
df.drop(['Unnamed: 0'],axis=1,inplace =True)

In [5]:
df

,fare_amount,passenger_count,year,month,day,day_is_weekend,quarter,hour,mins,distance_travelled
0,7.50,1,2015,5,7,0,2,19,52,1.683323
1,7.70,1,2009,7,17,0,3,20,4,2.457590
2,12.90,1,2009,8,24,0,3,21,45,5.036377
3,5.30,3,2009,6,26,0,2,8,22,1.661683
4,16.00,3,2014,8,28,0,3,17,47,4.475450
...,...,...,...,...,...,...,...,...,...,...
199994,3.00,1,2012,10,28,1,4,10,49,0.112210
199995,7.50,1,2014,3,14,0,1,1,9,1.875050
199996,22.25,2,2009,6,29,0,2,0,42,7.865091
199997,14.50,1,2015,5,20,0,2,14,56,3.539715
199998,14.10,1,2010,5,15,1,2,4,8,5.417783

In [6]:
df.shape

(199999, 10)

In [7]:
X = df.iloc[:,1:]
y= df.iloc[:,:1]

In [8]:
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=40)

In [9]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((149999, 9), (50000, 9), (149999, 1), (50000, 1))

In [10]:
 from sklearn.tree import DecisionTreeRegressor

In [11]:
dtr = DecisionTreeRegressor(max_depth =8)

In [12]:
dtr.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=8)

In [13]:
y_pred9 = dtr.predict(X_test)

In [14]:
dtrR2 =r2_score(y_test,y_pred9)

In [15]:
dtrR2

0.7809778109197798

### Retrain the model on entire dataset and save the model

In [16]:
dtrfinal = DecisionTreeRegressor(max_depth =8)

In [17]:
dtrfinal.fit(X, y)

DecisionTreeRegressor(max_depth=8)

In [18]:
pickle.dump(dtrfinal,open('./model.sav','wb'))